.add-question-modal {
  position:absolute;
  right:1vw;
  max-width: 450px;
  z-index: 5; background-color: rgb(255, 2535, 253);
  width: 60%;padding: 20px;
  border: 1px solid;box-sizing: border-box;-height: 2rem;
}
.add-question-modal button{
  padding: 10px; background-color: blue;color: white; margin: 5px; font-weight: bold;border: 0px;border-radius: 5px;
}

.add-question-modal .cancelBtn{
  padding: 10px; background-color: rgb(198, 22, 3);color: white; margin: 5px; font-weight: bold;border: 0px;border-radius: 5px;float:right;
  
}
.add-question-modal .select_test_type{
  width: 20em;
  
}